@use "./variables" as *;

header {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 10vw;
  z-index: 999;
  position: relative;

  .logo-main {
    .logo {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;

      .logo-container {
        position: relative;
        height: 40px;
        width: 50px;

        img {
          inset: 0;
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }

      h2 {
        color: $light;
        font-size: 2rem;
        font-family: $montserrat-regular;
        letter-spacing: 0.5px;
      }
    }
  }
}
