@use "./variables" as *;

.hero-section {
  width: 100vw;
  height: 100vh;
  margin-top: -100px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  gap: 25px;
  color: $light;
  background-color: $dark;
  z-index: 0;

  .bg-container {
    position: absolute;
    transform: translate(-600px, -900px);
    width: 1800px;
    height: 1800px;
    inset: 0;
    z-index: -1;
    background: radial-gradient(rgb(0, 76, 255) 0%, rgba(185, 19, 135, 1) 20%, $dark 50%);
    opacity: 0.6;
  }

  .hero-text {
    position: relative;
    z-index: 2;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
      line-height: 1.5;
      width: 90%;
    }

    h1 {
      font-family: $montserrat-regular;
    }
  }

  .heroimg-cont {
    .hero-img {
      position: absolute;
      width: 720px;
      height: 400px;
      top: 50%;
      right: 15%;
      transform: translateY(-50%) translateX(20%);
      border-radius: 10px;
      overflow: hidden;

      img {
        object-fit: cover;
        inset: 0;
      }
    }
  }
}
